/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $masthead-height;
  border-bottom: 1px solid var(--border-color);
  -webkit-animation: none;
          animation: none;
  z-index: 10;
  background-color: var(--masthead-background);
  transition: background-color 0.3s ease;

  &__inner-wrap {
    @include container;
    @include clearfix;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    font-family: $sans-serif-narrow;
    color: var(--text-color);
    max-width: 100%;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
      width: 100%;
    }

    a {
      text-decoration: none;
      color: var(--text-color);
    }
  }
}

.masthead__menu {
  width: 100%;
  
  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 2em;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    font-weight: 700;
  }
}

// Hide the navigation toggle button as we don't need it
.greedy-nav button {
  display: none;
}